* {
  box-sizing: border-box;
  margin: 0;
  font-size: 18px;
}

*:not(code) {
  font-family: "Arial", sans-serif;
}

#main-doc {
  display: flex;
  height: 100vh;
}

#navbar {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
}

#heading {
  padding: 1rem;
  margin: 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

header {
  font-size: 32px;
}

#scroll {
  overflow: auto;
  scroll-behavior: smooth;
}

#scroll * {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

#scroll *:hover {
  background-color: rgb(242, 216, 216);
}

#all-sections {
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 10px;
  border-left: 1px solid black;
}

code {
  display: block;
  background-color: #f6f6f6;
  margin-left: 10px;
  padding: 10px;
  font-size: 12px;
}

#all-sections *:not(header, a) {
  line-height: 1.6;
  margin-top: 18px;
  margin-bottom: 18px;
  padding-left: 12px;
  padding-right: 12px;
}

ul {
  list-style-position: inside;
}

@media (max-width: 600px) {
  * {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
  }
  *:not(code) {
  font-family: "Arial", sans-serif;
  }
  #heading {
    text-align: center;
  }
  #main-doc {
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
  }
  #navbar {
    height: 225px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 0 1px 2px; 
  }
  #navbar *:not(header) {
    border-bottom: 1px solid black;
    text-decoration: none;
    color: black;
  }
  header {
    padding: 1rem;
    border-bottom:  1px solid black;
    font-size: 24px;
  }
}